@font-face {
    font: "centurygothic";
    src: url(../NewSit/fonts/centurygothic.ttf);
}

body {
    font: 'centurygothic';
    background: #f8f8f8;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;

}

.menu-bar {
    color: #f8f8f8;
    padding: 23px 0;
    background: #21081a;
    font: 'centurygothic';
}

.menu__item {
    font: 'centurygothic';
    font-size: 14px;
    margin-left: 42px;
}

.menu__item a {
    font: 'centurygothic';
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.menu__item a:hover {
    color: blanchedalmond;
}

h1 {
    font-size: 20px;
    padding: 20px 0;
    color: #21081a;
}
p {
    font-size: 18px;
    padding: 0px 20px;
    color: #21081a;
}
a {
    text-decoration: none;
    color: #fff;
}
a:hover{
    opacity: 0.6;
    color: #21081a;
}

.dws-1 {
    height: 100px;
    width: 200px;
    font-size: 30px;
    text-align: center;
    padding-top: 22px;
    margin: 0 10px;
    background: #21081a;
    text-decoration: none;
    border: 2px solid #21081a;
    opacity: 1;
}
.dws-1:hover{
    opacity: 0.6;
    color: #fff;
}

.button {
    height: 100px;
    width: 200px;
    font-size: 30px;
    text-align: center;
    padding-top: 22px;
    margin: 0 10px;
    background: #21081a;
    text-decoration: none;
    color: #fff;
    border-color: #fff;
    border: 2px solid #21081a;
    opacity: 1;
}
button:hover {
    opacity: 0.6;
    color: #fff;
}

.one-row {
    padding: 5px;
}
.two-row {
    padding: 5px;
}
.btn-group{
    padding: 0 40px 20px;
    
}
.btn-outline-primary {
    color: #21081a;
    border-color: #21081a;
}
.btn-outline-primary:hover {
    color: #fff;
    background: #21081a;
    border-color: #21081a;
}
.btn-outline-primary-cover{ 
    background: #21081a;
    color: #fff;
    
}
.btn-outline-primary-cover:hover{
    color: #fff;
    box-shadow: 0 0 10px 5px #fff;
    background: #21081a;
}

.table {
margin: 0 30px 20px;
width: 97%;
}

/*.footer  {
    width: 10%;
    
}*/

.container-fluid {
    position: absolute;
    bottom: -180px;
    padding: 0;
    
}

#toTop {
    z-index: 999;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 20px;
    border-radius: 3px;
    background: #21081a;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
    color: #fff
}

.bar {
    display: none;
}

@media screen and (max-width: 1280px){
    .container-fluid {
        position: absolute;
        bottom: -300px;
        padding: 0;
        
    }
}

@media screen and (max-width: 1024px){
    /*nav {
        display: none;
    }
   
    .bar {
        display: block;
        color: #21081a;
        border: none;
        cursor: pointer;
        align-items: center;
    }*/

     .container-fluid {
        position: absolute;
        bottom: -400px;
        padding: 0;
        
    }
    
}


@media screen and (max-width: 480px){

    .container-fluid {
        position: absolute;
        bottom: -500px;
        padding: 0;

    }
    .dws-1{
        height: 35px;
        width: 80px;
        font-size: 10px;
        padding-top: 8px;
    }
    h1 {
        font-size: 12px;
    }
    p {
        font-size: 12px;
    }
    .menu__item a{
        font-size: 12px; 
    }
    .mb-1{
        font-size: 12px;
    }
    .text-muted {
        font-size: 10px;
    }
    .btn-group {
        width: 80px;
        height: 50px;
        font-size: 10px;
    }
    .btn-outline-primary{
        font-size: 10px;
    }
    .btn-outline-primary-cover{
        font-size: 10px;
    }
    th {
        font-size: 12px;
    }
    td {
        font-size: 12px;
    }
    .text-center {
        font-size: 12px;
    }
}